#crea {
  text-transform: capitalize;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  color: white;

  &:hover {
    transform: scale(1.1) !important;
    color: yellowgreen;
    background-color: white;
    border: 1px solid rgba(153, 205, 50, 0.411);
    transition-duration: 0.4s;
  }

}

input {
  margin-top: 1em;
}

span {
  display: block;
}


ion-icon:hover {
  transform: scale(1.4)!important;
  border-radius: 25%;
  //border: 2px solid white!important;
  transition-duration: 0.5s;
}

#prodakt:hover {
  transform: scale(1.05)!important;
  transition-duration: 0.5s;

  #nameProduct {
    margin-left: 5em;
    font-size: 28px;
    letter-spacing: .1rem;
    transition-duration: 0.8s;
    &:hover{
      letter-spacing: .2rem;
      transition-duration: 0.8s;
    }
  }
}




