<ion-app>
  <ion-split-pane contentId="main-content" [disabled]="!auth.isLogged()">
    <ion-menu contentId="main-content" color="tertiary" type="overlay">
      <ion-content>
        <ion-list lines="none" >
          <ion-list-header>
            <ion-label style="display: flex; align-items: center;">
              ShoppingCart
              <ion-icon name="cart-outline" style="margin-left: 5px;"></ion-icon>
            </ion-label>
          </ion-list-header>

          <ion-menu-toggle auto-hide="true">
            <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected" class="online-users">
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-item class="user-info">
        <span id="esci" slot="end" (click)="auth.logout()">Esci</span>
      </ion-item>

    </ion-menu>
    <ion-router-outlet  id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
