<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio prodotto</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container-list" style="height: 100%;">
  <button id="indietro" routerLink="/nuovapagina" routerLinkActive="active">
    <ion-icon name="chevron-back-outline"></ion-icon>indietro
  </button>

  <div style="width: 400px; height: 400px; background-color: white; border-radius: 15px; margin-left: 1em;"></div>
</div>

  <!--
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.productName }}</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.quantity }}</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.unitCost }}€</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.orderDate }}</span>
  </div>
  -->
