<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio prodotto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button id="indietro" routerLink="/nuovapagina" routerLinkActive="active">
    <ion-icon name="chevron-back-outline"></ion-icon>indietro
  </button>

  <!--
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.productName }}</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.quantity }}</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.unitCost }}€</span>
  </div>
  <div style="display: flex; position: relative; margin-bottom: 0.3em;">
    <span>{{ product.orderDate }}</span>
  </div>
  -->

</ion-content>
